{% extends 'base.html' %} {% load staticfiles %} {% block left_content %} {% include 'ad.html' %}
<div class="topnews">
	<h2>{{ request.GET.year }}/{{ request.GET.month }}归档文章</h2> 
	{% for article in article_list %}
	<div class="blogs">
		<ul>
			<h3><a href="{% url 'article' %}?id={{ article.id }}" target="_blank">{{ article.title }}</a></h3>
			<p>{{ article.desc }}</p>
			<p class="autor">
				{% for tag in article.tag.all %}
				<span class="lm f_l">
          			<a href='{% url 'tag' %}?tag={{ tag.name }}'>{{ tag.name }}</a>&nbsp;
          		</span> {% endfor %}
				<span class="dtime f_l">{{ article.date_publish | date:'Y-m-d'}}</span>
				<span class="viewnum f_r">浏览（<a href="/">{{ article.click_count }}</a>）</span>
				<span class="pingl f_r">评论（<a href="/">{{ article.comment_set.all.count }}</a>）</span>
			</p>
		</ul>
	</div>
	{% endfor %}
</div>
{% include 'pagination.html' %}
{% endblock %}
